/*
    Created on : Nov 9, 2017, 1:45:07 PM
    Author     : wigshaker
*/

* {box-sizing: border-box;}

.ui-content {padding: 0;}

/*.ui-page-theme-a .ui-bar-inherit {background-color: mediumaquamarine;}*/

#main-frame {
   border: none;
   overflow: hidden;
   width: 100vw;
   height: 100vh;
}
