/*
    Created on : Nov 9, 2017, 1:45:07 PM
    Author     : wigshaker
*/

* {box-sizing: border-box;}

/*.ui-content {padding: 0;}*/

#mjpeg_dest {
   margin: 0;
   width: auto;
   height: 99.9vh;
}

.ui-flipswitch-active {
   width: 5.875em !important;
}
