/*
    Created on : Nov 9, 2017, 1:45:07 PM
    Author     : wigshaker
*/

* {box-sizing: border-box;}

/*.ui-content {padding: 0;}*/

#mjpeg_dest {
   margin: 0;
   width: auto;
   height: 99.9vh;
   /*min-width: 100%;
   min-height: 100%;*/

   /*margin-left: 50%;
   transform: translateX(-50%);*/
   }

/*.ui-page-theme-a .ui-bar-inherit {background-color: mediumaquamarine;}*/
@media screen and (orientation: portrait)  {
   #mjpeg_dest {
      margin: 0;
      width: 99.9vw;
      height: auto;
      flex: none;
      }

   #video_container {
       justify-content: center;
      }
   }
